.paint{
  height: 15rem;
}

body{
  background-image: url(../images/steve-johnson-5.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.orange{
  background-color: #3A165B;
}

.blue-text{
  color: #00e7ff;
}

.art-container{
  margin-top: 100px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-image: url(../images/gold-back.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-style: solid
}

.art-container:after{

}

.card-body{
  background-color: #00277c;
}

.gold-text{
  color: #ab8206;
}
